$colorBackground: #202020;
$colorBackgroundDark: #141414;
$colorBackgroundGrayLight: #2B2B2B;
$colorBoxShadow: #404040;
$colorDarkTransparent:#000000bf;
$colorGrayTransparent:#00000069;
$colorTextGray: #8f8f8f;
$colorGradientMain: linear-gradient(273.78deg, #DF5F6E 8.84%, #B975D8 47.63%, #5DBBE4 102.85%);
$colorGreen: #00A25D;
$colorScroll: #636363;
$colorBlueBorder: #58b1e5;
$colorBackgroundBlue: #3254ae;
$colorBackgroundBlueLight: #3a6bc6;
$colorBackgroundBlueDrak: #223A70;