@import "../../assets/scss/variables";

@font-face {
  font-family: "VNI-Dom";
  src: url("../../assets/fonts/vni.common.VDOMCAS.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  font-family: VNI-Dom;
}

.aridropWrap{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}
.homeWrap {
  position: relative;
  background-color: #FFD9A1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 275px;
  
  .homContent {
    max-width: 1364px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 80px;

    .headerWrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      img {
        width: 270px;
        height: auto;
        margin-left: -30px;
      }

      .btnWrap{
        position: relative;
        display: flex;
        align-items: flex-start;
        .btnHome,
        .btnConnect {
          min-width: 220px;
          height: 88px;
          background-color: #6784ED;
          color: #F7EBD1;
          font-size: 60px;
          cursor: pointer;
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          border: 5px solid #F7EBD1;
          border-radius: 10px;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          z-index: 1;
          white-space: nowrap;
        }
  
        .btnConnect {
          margin-left: 25px;
          margin-right: 5px;
          min-width: 395px;
        }
        .activeBTn{
          z-index: 999;
        }
        .btnDisconnect{
          position: absolute;
          bottom: -52%;
          right: 8px;
          background-color: #fbf7ea;
          font-size: 30px;
          color: #6784ed;
          cursor: pointer;
          width: 188px;
          height: 51px;
          border: none;
          padding-bottom: 10px;
          border-radius: 5px;
          z-index: 2;
        }
      } 
    }

    .homeContainer {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
      gap: 20px;
      overflow: hidden;

      .containerLeft {
        max-width: 846px;
        width: 100%;
        height: 733px;
        border: 5px solid #000000;
        border-radius: 40px;
        background-color: #fbf7ea;
        margin-right: 40px;
        position: relative;

        .tab {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 30px;

          .tablink1,
          .tablink2 {
            width: 100%;
            max-width: 382px;
            height: 88px;
            border: 3px solid #000000;
            background-color: #121550;
            border-radius: 30px;
            color: #F7EBD1;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            padding-bottom: 10px;

            &:hover {
              cursor: pointer;
            }
          }

          .tablink1 {
            margin-right: 15px;
          }

          .active {
            background-color: #6784ED;
          }
        }

        .tabcontent {
          display: none;
        }

        .tabcontent.socialContent {
          text-align: center;
          position: relative;

          .socialPoint {
            color: #6784ED;
            font-size: 50px;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }

          .earn {
            margin-top: 30px;
            color: #6784ED;
            font-size: 40px;
            font-weight: 400;
          }

          span {
            color: #575758;
            font-size: 30px;
            font-weight: 400;
            line-height: normal;
            display: block;
          }

          .note {
            margin-top: 40px;
          }

          .btnOpenX {
            margin-top: 50px;
            height: 68px;
            width: 171px;
            background-color: #f4cc02;
            color: #FBF7EA;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            border: 2px solid #000000;
            -webkit-text-stroke: 0.5px black;
            border-radius: 40px;
            cursor: pointer;
          }

          .btnLinked{
            margin-top: 40px !important;
            cursor: context-menu !important;
            margin-bottom: 10px;
          }

          .imgDiamondIcon {
            left: 2%;
            bottom: -5%;
            position: absolute;
            width: 166px;
            height: auto;
          }

          .imgWhiteIcon {
            right: 3%;
            bottom: -5%;
            position: absolute;
            height: 230px;
            width: auto;
          }

         
        }

        .tabcontent.extraContent {
          text-align: center;

          .extraTitle {
            color: #6784ED;
            font-size: 50px;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }

          p {
            line-height: 0;
            margin-bottom: 60px;
            font-size: 30px;
            color: #575758;
          }

          .extraList {
            padding: 0 30px;

            .action {
              width: 100%;
              margin-bottom: 25px;
              padding: 0 30px;
              height: 86px;
              border: 3px solid #000000;
              background-color: #121550;
              border-radius: 30px;
              color: #F7EBD1;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .actionContainer {
                display: flex;
                align-items: center;

                .actionSl {
                  font-size: 60px;
                  color: #ff9393;
                  margin-right: 30px;
                  padding-bottom: 10px;
                }

                .actionText {
                  font-size: 30px;
                }
              }

              .btnExtra {
                width: 130px;
                height: 38px;
                color: #000;
                font-size: 25px;
                font-weight: 400;
                line-height: 0;
                text-transform: uppercase;
                background-color: #ffd9a1;
                border: 3px solid #f7ebd1;
                border-radius: 10px;
                cursor: pointer;
              }

            }
          }

          .imgCollaspIcon {
            width: 80px;
            margin-top: 10px;
            cursor: pointer;
          }
        }

        .tabcontent.active {
          display: block;
        }

        .linked{
          position: absolute;
          bottom: 25px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          cursor: pointer;
          a{
            text-decoration: none;
            img {
              margin-bottom: -2px;
              width: 19px;
              height: auto;
            } 
            span {
              margin-left: 3px;
              font-weight: 400;
              font-size: 20px;
              color: #6784ED;
           
            }
          }
        }
      }

      .containerRight {
        max-width: 433px;
        width: 100%;
        height: 733px;
        border: 5px solid #000000;
        border-radius: 40px;
        background-color: #ff9393;
        text-align: center;

        .title {
          margin-top: 53px;
          color: #ffffff;
          font-weight: 400;
          font-size: 45px;
          line-height: normal;
          text-transform: uppercase;
          -webkit-text-stroke: 1px black;
          text-shadow: -1px 3px 3px #000000, 0 2px 1px #000000;
        }

        .pointWrap {
          display: flex;
          flex-direction: column;
          align-items: center;

          .point {
            color: #ffffff;
            font-weight: 400;
            font-size: 100px;
            line-height: normal;
            -webkit-text-stroke: 0.8px black;
            text-shadow: -1px 6px 2.8px #000;
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: #000;
          }

          .receive {
            margin-top: 18px;
            width: 191px;
            height: 45px;
            color: #000;
            background-color: #ffd9a1;
            border-radius: 30px;
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            line-height: normal;
          }
        }

        .textUpdated {
          color: #fff;
          font-weight: 400;
          font-size: 30px;
          margin-top: 45px;
          padding: 0 5px;
        }
      }
    }
  }

  .footer {
    width: 100%;
    background: #00132C;
    padding: 20px 130px 10px 130px;

    .footerContainer {
      width: 100%;
      max-width: 1207px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 40% 20% 40%;

      .navFooter {
        ul {
          li {
            color: #89B2FF;
            text-shadow: -3px 10px 2.8px #000;
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: #000;
            font-style: normal;
            font-weight: 400;
            line-height: 139%;
            list-style: none;
            font-size: 80px;

            a {
              cursor: pointer;
              transition: all 0.8s;
              color: #89B2ff;
              text-decoration: none;
              &:hover {
                color: #A0E3FF;
              }
            }

            @media only screen and (max-width: 1405px) {
              font-size: 75px;
            }
          }
        }
      }

      .imageFooter {
        display: flex;
        align-items: end;
        justify-content: center;
        margin-bottom: -22px;

        img {
          width: 100%;
          max-width: 213px;
          object-fit: contain;
        }
      }

      .socialFooter {
        margin-top: 55px;
        text-align: center;

        span {
          color: #FFF;
          font-style: normal;
          font-weight: 400;
          line-height: 139%;
          letter-spacing: 3px;
          font-size: 50px;
          white-space: nowrap;
        }

        .socialFooterIcon {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-top: 1.9rem;
          gap: 25px;
          margin-right: 10px;

          img {
            width: 84px;
            height: 84px;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }
    }
  }

  .copyright {
    border-top: 3px solid #6784ED;
    width: 100%;
    height: 120px;
    background: #00132C;
    text-align: center;
    border-top: 2px solid #6784ED;

    span {
      margin-top: 10px;
      color: #89B2FF;
      font-family: system-ui;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 214%;
    }
  }
  
}
.overlayWrap{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(18, 23, 80, 0.39);
}
@media only screen and (max-width: 1350px) {
  .homeWrap {
    .homContent {
      .homeContainer {
        .containerRight {
          .textUpdated {
            font-size: 25px;
          }
        }
      }
    }

    .footer {
      .footerContainer {
        .navFooter {
          ul {
            li {
              font-size: 65px;
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1200px) {
  .homeWrap {
    .homContent {

      .homeContainer {

        .containerLeft {
          border-radius: 35px;
          height: 680px;
          .tab {
            padding: 25px;

            .tablinks {
              font-size: 45px;
            }
          }

          .tabcontent.socialContent {
            .socialPoint {
              font-size: 45px;
            }

            .earn {
              font-size: 38px;
            }

            span {
              font-size: 26px;
            }

            .imgDiamondIcon {
              width: 140px;
            }

            .imgWhiteIcon {
              height: 200px;
            }
          }

          .tabcontent.extraContent {

            .extraTitle {
              font-size: 45px;
            }

            p {
              font-size: 28px;
            }

            .extraList {
              padding: 0 25px;

              .action {
                margin-bottom: 25px;
                padding: 0 25px;
                height: 80px;
                .actionContainer {

                  .actionSl {
                    font-size: 50px;
                    margin-right: 20px;
                    padding-bottom: 10px;
                  }

                  .actionText {
                    font-size: 28px;
                    text-align: left;
                  }
                }

              }
            }
            .imgCollaspIcon {
              width: 75px;
              margin-top: 0px;
            }
          }

        }

        .containerRight {
          border-radius: 35px;
          height: 680px;
         
          .title {
            margin-top: 45px;
            font-size: 38px;
          }

          .pointWrap {
  
            .point {
              line-height: 1.3;
            }
          }

          .textUpdated {
            font-size: 23px;
          }
        }
      }
    }

    .footer {

      .footerContainer {

        .navFooter {
          ul {
            li {
              font-size: 60px;
            }
          }
        }

        .socialFooter {
          span {
            font-size: 40px;
          }

          .socialFooterIcon {
            gap: 25px;

            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .homeWrap {
    .homContent {

      .headerWrap {
        padding: 15px 0;
        .btnWrap{
          .btnHome,
          .btnConnect {
            min-width: 180px;
            height: 66px;
            font-size: 40px;
          }
  
          .btnConnect {
            min-width: 270px;
            margin-left: 20px;
            margin-right: 5px;
          }

          .btnDisconnect{
            width: 140px;
            height: 43px;
            font-size: 26px;
            bottom: -58% !important;
          }
        }
        
      }

      .homeContainer {

        .containerLeft {
          border-radius: 35px;
          height: 580px;
          border: 4px solid #000000;

          .tab {
            padding: 25px;

            .tablink1,
            .tablink2 {
              font-size: 40px;
              height: 66px;
              border-radius: 20px;
            }
          }

          .tabcontent.socialContent {
            .socialPoint {
              font-size: 40px;
            }

            .earn {
              margin-top: 25px;
              font-size: 35px;
            }

            .note {
              margin-top: 30px;
            }

            span {
              font-size: 22px;
            }

            .imgDiamondIcon {
              width: 120px;
            }

            .imgWhiteIcon {
              height: 160px;
            }

            .btnOpenX {
              margin-top: 40px;
              height: 55px;
              width: 140px;
              font-size: 26px;
              border-radius: 40px;
            }

            .noneBtn{
              margin-top: 40px;
              height: 55px;
            }
          }

          .tabcontent.extraContent {

            .extraTitle {
              font-size: 40px;
            }

            p {
              font-size: 22px;
            }

            .extraList {
              padding: 0 25px;

              .action {
                margin-bottom: 20px;
                border-radius: 20px;
                padding: 0 15px;
                height: 64px;

                .actionContainer {

                  .actionSl {
                    font-size: 45px;
                    margin-right: 15px;
                    padding-bottom: 10px;
                  }

                  .actionText {
                    font-size: 22px;
                    text-align: left;
                  }
                }

                .btnExtra {
                  width: 90px;
                  height: 30px;
                  font-size: 20px;
                  border-radius: 8px;
                }
              }
            }

            .imgCollaspIcon {
              margin-top: 10px;
              width: 60px;
            }
          }

          .linked{
            bottom: 18px;
            a{
              img {
                width: 18px;
              } 
              span {
                font-size: 18px;
              }
            }
          }

        }

        .containerRight {
          border-radius: 35px;
          height: 580px;
          border: 4px solid #000000;

          .title {
            font-size: 28px;
          }

          .pointWrap {

            .point {
              font-size: 80px;
              line-height: 1.4;
            }

            .receive {
              margin-top: 10px;
              width: 150px;
              height: 35px;
              border-radius: 30px;
              font-size: 26px;
            }
          }

          .textUpdated {
            font-size: 18px;
          }
        }
      }
    }

    .footer {
      padding: 20px 100px 10px 20px;
      .footerContainer {

        .navFooter {
          ul {
            li {
              font-size: 50px;
              white-space: nowrap;
            }
          }
        }

        .socialFooter {
          span {
            font-size: 30px;
          }

          .socialFooterIcon {
            gap: 20px;

            img {
              width: 55px;
              height: 55px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .homeWrap {
    .homContent {

      .headerWrap {

        img {
          width: 220px;
        }
        .btnWrap{
          .btnHome,
          .btnConnect {
            min-width: 120px;
            height: 50px;
            font-size: 30px;
          }

          .btnHome{
            font-size: 30px;
          }
  
          .btnConnect {
            min-width: 200px;
            margin-left: 15px;
            padding-bottom: 0;
          }

          .btnDisconnect{
            width: 115px;
            height: 32px;
            font-size: 20px;
            bottom: -54% !important;
          }
        }
        
      }

      .homeContainer {

        .containerLeft {
          border-radius: 30px;
          height: 410px;

          .tab {
            padding: 15px;

            .tablink1,
            .tablink2 {
              font-size: 30px;
              height: 50px;
              border-radius: 15px;
            }
          }

          .tabcontent.socialContent {
            .socialPoint {
              font-size: 30px;
            }

            .earn {
              margin-top: 15px;
              font-size: 24px;
            }

            .note {
              margin-top: 20px;
              z-index: 10;
            }

            span {
              font-size: 16px;
            }

            .imgDiamondIcon {
              width: 80px;
            }

            .imgWhiteIcon {
              height: 120px;
              z-index: 1;
            }

            .btnOpenX {
              height: 40px;
              width: 110px;
              font-size: 22px;
              padding-bottom: 4px;
              margin-top: 35px;
            }
            .noneBtn{
              height: 40px;
              margin-top: 35px;
            }

            .btnLinked{
              margin-top: 30px !important;
              cursor: context-menu !important;
            }
          }

          .tabcontent.extraContent {

            .extraTitle {
              font-size: 30px;
            }

            p {
              font-size: 18px;
              margin-bottom:30px;
            }

            .extraList {
              padding: 0 15px;

              .action {
                margin-bottom: 15px;
                border-radius: 15px;
                padding: 0 10px;
                height: 45px;

                .actionContainer {

                  .actionSl {
                    font-size: 28px;
                    margin-right: 10px;
                  }

                  .actionText {
                    font-size: 16px;
                  }
                }

                .btnExtra {
                  width: 50px;
                  height: 22px;
                  font-size: 14px;
                  border-radius: 8px;
                }
              }
            }

            .imgCollaspIcon {
              margin-top: 10px;
              width: 50px;
            }
          }

          .linked{
            bottom: 8px;
            a{
              img {
                width: 14px;
              } 
              span {
                font-size: 14px;
              }
            }
          }

        }

        .containerRight {
          border-radius: 30px;
          height: 410px;

          .title {
            margin-top: 35px;
            font-size: 18px;
            -webkit-text-stroke: 0.6px black;
          }

          .pointWrap {

            .point {
              font-size: 55px;
              line-height: 1.4;
            }

            .receive {
              margin-top: 10px;
              width: 110px;
              height: 28px;
              border-radius: 30px;
              font-size: 20px;
            }
          }

          .textUpdated {
            margin-top: 20px;
            font-size: 14px;
          }
        }
      }
    }

    .footer {
      padding: 0px 20px 10px 20px;
      .footerContainer {

        .navFooter {
          ul {
            li {
              margin-left: -20px;
              font-size: 40px;
              white-space: nowrap;
            }
          }
        }

        .socialFooter {
          margin-top: 45px;
          margin-right: 80px;
          span {
            font-size: 24px;
          }

          .socialFooterIcon {
            gap: 15px;
            margin-top: 1.5rem;
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    .copyright {
  
      span {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .homeWrap {
    .homContent {
      margin-bottom: 40px;
      .headerWrap {
        padding: 5px 0;
        img {
          width: 140px;
        }
        .btnWrap{
          white-space: nowrap;
          .btnHome,
          .btnConnect {
            min-width: 60px;
            height: 45px;
            font-size: 18px;
          }
  
          .btnConnect {
            min-width: 130px;
            margin-left: 10px;
          }
          .btnDisconnect{
            width: 78px;
            height: 25px;
            font-size: 16px;
            bottom: -44% !important;
          }
        }
        
      }

      .homeContainer {
        display: flex;
        flex-direction: column;
        .containerLeft {
          border-radius: 30px;
          height: 390px;

          .tab {
            padding: 15px;

            .tablink1,
            .tablink2 {
              font-size: 30px;
              height: 50px;
              border-radius: 20px;
              line-height: 0;
              padding-bottom: 0px;
            }
            .tablink1 {
              margin-right: 10px;
            }
          }

          .tabcontent.socialContent {
            .socialPoint {
              font-size: 30px;
            }

            .earn {
              margin-top: 15px;
              font-size: 24px;
            }

            .note {
              margin-top: 15px;
              z-index: 10;
            }

            span {
              font-size: 14px;
            }

            .imgDiamondIcon {
              width: 70px;
            }

            .imgWhiteIcon {
              height: 100px;
              right: 1%;
            }

            .btnOpenX {
              margin-top: 25px;
            }
            .noneBtn{
              margin-top: 25px;
            }
          }

          .tabcontent.extraContent {

            .extraTitle {
              font-size: 30px;
            }

            p {
              font-size: 16px;
              margin-bottom:30px;
            }

            .extraList {
              padding: 0 15px;

              .action {
                margin-bottom: 10px;
                border-radius: 15px;
                padding: 0 10px;
                height: 45px;

                .actionContainer {

                  .actionSl {
                    font-size: 28px;
                    margin-right: 10px;
                  }

                  .actionText {
                    font-size: 14px;
                  }
                }
              }
            }
          }

        }

        .containerRight {
          border-radius: 30px;
          height: 390px;
          max-width: 576px;
          .title {
            margin-top: 25px;
            font-size: 24px;
          }
        }
      }
    }

    .footer {
      padding: 0px 20px 10px 20px;
      .footerContainer {

        .navFooter {
          ul {
            li {
              margin-left: -20px;
              font-size: 22px;
            }
          }
        }

        .socialFooter {
          margin-top: 35px;
          margin-right: 90px;
          span {
            font-size: 14px;
            letter-spacing: 1.2px;
          }

          .socialFooterIcon {
            gap: 10px;
            margin-top: 0.5rem;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    .copyright {
      height: 60px;
      span {
        font-size: 11px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .homeWrap {
    .homContent {
      .headerWrap {
        padding: 0;
        img {
          width: 100px;
        }
        .btnWrap{
          white-space: nowrap;
          .btnHome,
          .btnConnect {
            min-width: 50px;
            height: 40px;
            font-size: 16px;
          }
  
          .btnConnect {
            min-width: 90px;
            margin-left: 10px;
          }
          
          .btnDisconnect{
            width: 65px;
            height: 21px;
            font-size: 14px;
            bottom: -40% !important;
          }
        }
        
      }

      .homeContainer {
        .containerLeft {
          height: auto;
          padding-bottom: 30px;
        }

        .containerRight {
          border-radius: 30px;
          height: auto;
          max-width: 576px;
          .title {
            margin-top: 25px;
            font-size: 24px;
          }
        }
      }

    }

    .footer {
      padding: 0px 20px 10px 20px;
      .footerContainer {

        .navFooter {
          ul {
            li {
              margin-left: -20px;
              font-size: 18px;
            }
          }
        }

        .socialFooter {
          margin-top: 20px;
          margin-right: 90px;
          span {
            font-size: 12px;
            letter-spacing: 0px;
          }

          .socialFooterIcon {
            gap: 5px;
            margin-top: 0.5rem;
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    .copyright {
      height: 70px;
      span {
        font-size: 11px;
      }
      .dash{
        display: none;
      }
      .reserved{
        margin-top: 0;
        display: block;
      }
    }
  }
}
