@import "../../assets/scss/variables";

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  font-family: VNI-Dom;
}

.aridropWrap{
  padding: 10px;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .btnCreate{
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
    padding: 4px 10px;
    background-color: #1900fd!important;
    border-color: #1900fd!important;
    width: max-content;
    cursor: pointer;
  }
}


